
.main_page{
    padding: 100px;
    margin-left: 50px;
   display: flex;
   justify-content: space-between;

   @media only screen and (min-width: 1024px) {
    width: 100%;
    }
    @media only screen and (min-width : 768px) {
        width: 75%;
        /* background-color: green; */
      }
      @media only screen and (min-width : 992px) {
        width: 50%;
        /* background-color: pink; */
      }
}
.main_page p{
    font-size: 83px;
    font-family: "Playfair Display", serif;
    padding-top: 30px;
    weight: 800px;
    line-height: 91px;
}
.main_page h2{
    padding-top: 0;
    font-family: "Playfair Display", serif;
    color: rgb(117, 131, 152);
    font-size: 40px;
    weight: 800px;
    line-height: 42px;
}
.main_page img{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    margin-right: 120px;
    border:5px solid #8d898b;
}

.main_page i{
    color: blue;
    font-size: 20px;
}
.mail{
    
    font-size: 20px;
    padding-top: 90px;
   
}
.phone{
    padding-top: 15px;
}
.mailid{
    padding-left: 11px;
    /* font-family:  */
}

.about{
    padding: 100px;
    margin-left: 50px;
    padding-top: 0;
}
.about h3{
    font-size: 32px;
    background-image: linear-gradient(to right top, #fb3ddb, #d157eb, #a168f3, #6a72f3, #1278eb);
    /* width: 190px;
    height: 45px;
    border-radius: 8px;
    text-align: center;
    color: white; */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
} 
.about p{
font-size: 25px;
padding-top: 20px;
}

.project{
    /* padding: 20px; */
    margin-left: 50px;
    /* padding-top: 0; */
}
.project h3{
    font-size: 32px;
    /* color:#EE82EE; */
    background-image: linear-gradient(to right top, #fb3ddb, #d157eb, #a168f3, #6a72f3, #1278eb);
    /* width: 230px;
    border-radius: 8px;
    text-align: center;
    height: 50px;
    color: white; */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.project p{
    font-size: 25px;
padding-top: 20px;
}
.project_link{
    font-size: 20px;
    padding-top: 20px;
    
}
.project_link a{
    text-decoration: none;
    
}
.project_link a:hover{
    color: magenta;
}
.work{
    padding: 100px;
    padding-bottom: 20px;
    margin-left: 50px;
    display: flex;
}
.work img{
    
    height: 500px;
    width: 800px;
    border: 5px solid rgb(235, 225, 225);
    border-radius: 8px;
    /* margin-right: 120px; */
    /* -webkit-box-reflect: right; */
  /* opacity:0.5; */
  /* z-index: 0.1; */
}

.skills{
    padding-left: 100px;
    margin-left: 50px;
    width: 50%;
}
.skills p{
    padding-top: 20px;
    font-size: 25px;
}

.skills h1{
    padding-bottom: 20px;
    background-image: linear-gradient(to right top, #fb3ddb, #d157eb, #a168f3, #6a72f3, #1278eb);
    /* width: 190px;
    border-radius: 8px;
    height: 45px;
    text-align: center;
    color: white; */

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.skill-page img{
    height: 300px;
    width: 500px;
    /* padding-right: 50px; */
    margin-left: 30px;
    border:5px solid #8d898b
    /* border:3px solid gray  ; */
}

.skill-page{
    display: flex;
}

 .resume_page{
     padding-top: 50px;
     padding-left: 100px ;
   margin-left: 50px;
    justify-content: space-between;
    display: flex;
    /* display: inline-block; */
} 

/* .resume_image img{
     margin-right: 100px;

   
    height: 400px;
    width: 450px;
    border-radius: 100%; 
} */
.resume_img {
    
    
    background-image: url("../../images/simple_back.jpg");
   background-size: 500px 300px;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
}
.resume_link {
  font-size: 30px;
  padding-top: 10px;
  padding-left: 190px;
  color: tomato;
  font-style:italic;
}

.link{
    padding-top:80px ;
    padding-left: 190px;
    /* padding-right: 200px; */
    font-size: 20px;
    
}

.link a{
    text-decoration: none;
}

.objective_heading h2
{
    /* padding-left: 100px; */
    background-image: linear-gradient(to right top, #fb3ddb, #d157eb, #a168f3, #6a72f3, #1278eb);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}
.objective{
    /* padding-left: 100px; */
    /* padding-right: 30px; */
    font-size: 20px;
    padding-top: 20px;
    margin-right: 70px;
}
.social_profile{
    display: flex;
}
.social{
/* display: flex; */
background-color: rgb(245, 83, 245);
width: 220px;
border-radius: 8px;
height: 50px;
margin-top: 30px;
}

.linked_in p{
     /* margin-top: 30px; */
   padding-top: 10px;
   /* margin-right: 50px; */
   text-align: center;
   font-size: 20px;
}

.linked_icon{
    padding-top: 35px;
    font-size: 30px;
    /* size: a3; */
    color: blue;
    /* padding-right: 20px; */
    margin-left: 20px;
}

.twitter_icon{
    padding-top: 35px;
    font-size: 30px;
    /* size: a3; */
    color: blue;
    /* padding-right: 20px; */
    margin-left: 20px;
}

.github_icon{
    padding-top: 35px;
    font-size: 30px;
    /* size: a3; */
    color: blue;
    /* padding-right: 20px; */
    margin-left: 20px;
}